{% extends 'base.html' %}

{% block title %}Meal List{% endblock %}

{% block content %}
    <!-- <h1>Meal List</h1> -->
    <div class="row">
        {% for meal in meals %}
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="{{ meal.strMeal }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ meal.strMeal }}</h5>
                        <p class="card-text">{{ meal.idMeal }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

